[submodule "external/WiiUPluginSystem"]
	path = external/WiiUPluginSystem
	url = https://github.com/wiiu-env/WiiUPluginSystem.git
[submodule "external/libbuttoncombo"]
	path = external/libbuttoncombo
	url = https://github.com/wiiu-env/libbuttoncombo.git
[submodule "external/libnotifications"]
	path = external/libnotifications
	url = https://github.com/wiiu-env/libnotifications.git
